.main-container {
  background: linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.7)),
  url('../../../assets/sky3.jpeg');
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  color: #70309F;
}

.content {
  width: 80%;
  text-align: justify;
  margin-bottom: 3em;
}

h1 {
  font-size: 1.8em;
  margin-top: 0.8em;
  text-align: center;
}

h2 {
  font-size: 1.6em;
  margin-top: 0.6em;
  margin-bottom: 0.3em;
}

h3 {
  font-size: 1.4em;
  margin-top: 0.4em;
  margin-bottom: 0.2em;
}

h4 {
  font-size: 1.2em;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

h5 {
  font-size: 1.1em;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

p,ul, li {
  margin-bottom: 0.2em;
}

a {
  font-size: 1em;
}
