<section class="main-container">
  <div class="content">
    <h1>Първа помощ при животозастрашаващи състояния</h1>
    <h1>Телефон за сигнали - <a href="tel:112">112</a></h1>

    <h2>1. Безопасност преди всичко</h2>
    <p>Без лечение, силното кървене и запушване на дихателните пътища може бързо да доведе до смърт.</p>
    <p>Въпреки това, преди лечението е изключително важно да се гарантира, че оцелелият и спасителят са в безопасна среда за
      грижи. Ако ситуацията е опасна и не може да окажете помощ, без спасителят да се изложи на риск, то той трябва да се обади на
      службите за спешна помощ и да изчака на безопасно разстояние пристигането на аварийните екипи.</p>
    <p>Не трябва да се предприемат спасителни действия, за които се изискват специални умения, които спасителят не притежава.</p>
    <p>Има няколко стъпки, които трябва да предприемете, когато се приближавате до пострадал:</p>
    <h3>Стъпка 1:</h3>
    <p> Ако пострадалият е в съзнание, уверете се, че може да ви види. Винаги приближавайте пострадалия фронтално така, че да ви
      вижда без да върти главата си. Ако го приближавате отзад или странично, той ще ви чуе (ако е в съзнание) и инстинктивно ще
      завърти главата си към вас. А това движение на главата може да се окаже фатално!&nbsp;</p>
    <h3>Стъпка 2:</h3>
    <p>Идентифицирайте се, като посочите името си и организацията, която представлявате.</p>
    <h3>Стъпка 3:</h3>
    <p>Винаги изисквайте разрешение за лечение на дадено лице. Ако индивидът е в безсъзнание, се предполага, че пострадалият е дал
      &bdquo;мълчаливо съгласие&ldquo; и можете да го лекувате. Посъветвайте се с родител или настойник за разрешение за лечение
      на дете, ако е възможно.</p>
    <h3>Стъпка 4:</h3>
    <p>Когато е възможно, спазвайте културните различия.</p>
    <h3>Стъпка 5:</h3>
    <p>Не забравяйте, че всички медицински пациенти имат право на конфиденциалност. Винаги подхождайте с уважение към личността в
      зависимост от медицинското състояние.</p>

    <h2>2. Как да определим дали лицето е в съзнание?</h2>
    <p>Като немедицинско лице, спасителят може да прецени дали пострадалият е в съзнание или не по това, дали той/тя отваря очите
      си:</p>
    <ul>
      <li>отваря ги спонтанно (гледа)</li>
      <li>отваря ги при гласова команда (&bdquo;Отвори очи!&rdquo;)</li>
      <li>отваря ги при болево дразнене (стискане на малкия пръст)</li>
      <li>не си отваря очите.</li>
    </ul>

    <p>Пострадалият е в съзнание, когато макар и неподвижен, разпознава реч и команди ("отвори очите", "отвори устата&rdquo;,
      &bdquo;покажи езика", "повдигни ръката" и др.), реагира на докосване, болка и други дразнители. Ако пострадалият не реагира
      на горепосочените признаци, той е в безсъзнание.</p>

    <h2>3. Азбука на спасяването</h2>
    <p>В първите три букви на латинската азбука-ABC, се съдържат основните жизнени функции на човека.</p>
    <ul>
      <li>А-за дихателни пътища (Airway).</li>
      <li>B-за дишане (Breathing)</li>
      <li>C-за циркулация на кръвта (Circulation)</li>
    </ul>
    <p>Действията трябва да бъдат приоритезирани по горния ред: веднага се насочваме към осигуряване на проходими дихателни
      пътища; след това подпомагаме дишането и циркулацията.</p>
    <p>При &bdquo;травматичния&rdquo; пациент&nbsp; винаги се приема, че има травма на шийните прешлени,&nbsp; докато не се докаже
      обратното. Ето защо, с главата не се извършват никакви движения и тя се придържа в неутрално линейно положение дори когато
      осигуряваме свободни дихателни пътища.</p>
    <h3>А - Отваряне на дихателните пътища</h3>
    <p>Дишането е &rdquo;тихо&rdquo; занимание. Когато чуваме звуци от устата на травмирания, нещо не е наред. Ако звукът е
      хъркащ, това означава, че езикът му е запушил входа на трахеята. Ако звукът е клокочещ, това значи, че има кръв в горните
      дихателни пътища. Най-честата причина за запушване е собственият език на пострадалия. Това се случва тогава, когато той е в
      безсъзнание.&nbsp;</p>
    <p>Позиционирането на пострадалите пациенти да поддържат отворени и чисти дихателните им пътища е изключително важно за
      спасяването на живота им. Най-добрата позиция за тялото е тази, при която гръдният кош може да се разшири напълно, а
      дихателните пътища не са изложени на риск да бъдат запушени. С други думи, най-добрата позиция е тази, при която езикът не
      може да се &bdquo;глътне&ldquo; обратно в гърлото на човека и тази, в която кръвта или течността не попадат в белите
      дробове, особено в случай на лице с травма на лицето.</p>
    <p>Има различни начини за позициониране на ранени пациенти, за да поддържат дихателните си пътища отворени в зависимост от
      това дали са в съзнание или в безсъзнание.</p>
    <h4>Позициониране на пациент в съзнание</h4>
    <p>Някой, който е в съзнание, естествено ще заеме позицията, която е най-подходяща за него, предвид нараняванията му. Въпреки
      как му изглежда на спасителя, най-добре е да остави пострадалия да самоуправлява дихателните си пътища, като позиционира
      собственото си тяло. Съдействаме, ако е необходимо.</p>
    <p>Позицията на статив е естествен начин да е отворят дихателните си пътища &ndash; това е позата, която спортистите заемат
      след спринт. В положение на статив, белите дробове и ребрата могат да се разширят възможно най-пълно.</p>
    <ul>
      <li>Когато седи на повдигната платформа (например стол, пейка): краката да са на ширината на раменете, лактите или ръцете на
        коленете и леко наведен напред.
      </li>
      <li>Когато стои: Краката на ширината на раменете, ръцете на коленете изправени, и се навежда напред с изправен гръб.</li>
    </ul>
    <h4>Позициониране на пациент в безсъзнание</h4>
    <p>Ако човек е в безсъзнание, можете да помогнете, като обърнете човека на една страна, така че гърдите му да се разширят,
      наклонявайки главата, за да изтече течност от дихателните пътища.</p>
    <h4>Позиция за възстановяване</h4>
    <p>Ако решите да преместите пациент в положение за възстановяване, поставете тялото на пациента така:</p>
    <ul>
      <li>Тяло: поставено настрани;</li>
      <li>Долна ръка: опъната навън;</li>
      <li>Горна ръка: облегната върху бицепса на долната ръка;</li>
      <li>Глава: облегната на ръката;</li>
      <li>Крака: леко сгънати;</li>
      <li>Брадичка: повдигната напред;</li>
      <li>Уста: насочена надолу.</li>
    </ul>
    <p>Въпреки че рискът е много малък, възможно е преместването на някого в положение за възстановяване да причини вреда на
      гръбнака на човека. За да предотвратите това:</p>
    <ul>
      <li>Опитайте се да поддържате главата и шията, когато ги търкаляте настрани.</li>
      <li>Не ги движете повече от необходимото.</li>
    </ul>
    <p>В безсъзнателното състояние (кома), човек губи тонус на мускулите, включително и тези&nbsp; на долната челюст и езика ,
      който гравитацията дърпа назад и запушва входа на трахеята. Затова първата ви задача е да осигурите свободни дихателни
      пътища като осигурите придвижване на езика напред, като:</p>
    <ol>
      <li>Сложете ръката си на челото на пострадалия.</li>
      <li>Внимателно притиснете челото и отведете главата внимателно назад.</li>
      <li>Поставете върха на пръстите на другата си ръка под възвишението на брадичката.</li>
      <li>Повдигнете брадичката, за да отворите въздушните пътища. Не притискайте меките тъкани под брадичката, това може да
        затрудни дишането.
      </li>
    </ol>
    <h3>В - Проверка на дишането</h3>
    <p>След като веднъж са отворени дихателните пътища на пострадалия, трябва да се провери дали диша.</p>
    <p>Наличие на дишане - визуализира се от движението на гръдната и коремната стена.</p>
    <ul>
      <li>Погледнете дали гръдният кош се повдига и спада.</li>
      <li>Ослушайте се за наличие на звуци или дишане от устата на пострадалия.</li>
      <li>Опитайте се да почувствате дишането, като доближите бузата си до устата на пострадалия.</li>
    </ul>
    <p>Когато проверявате дишането на пострадал: погледнете, чуйте, опитайте се да усетите дишане в продължение на не повече от 10
      секунди.</p>
    <p>10-секунден период може да изглежда като дълго време, но понякога дишането на пострадал в безсъзнание може да бъде бавно.
      Ако този период е по-малък, може да уцелите период между две вдишвания, което да Ви наведе на погрешен извод.&nbsp;</p>
    <p>През първите няколко минути след спирането на сърцето, изглежда като че ли пострадалият се опитва да диша, като че ли едва
      диша или пъшка шумно от време на време. Околните често тълкуват тези движения като нормално дишане. В действителност това са
      последните издихания на тялото в борбата му със смъртта. Не трябва да обърквате тези издихания с нормалното дишане.</p>
    <p>Ако не сте абсолютно сигурни, че пострадалият диша спонтанно, то той следва да бъде третиран така, все едно че липсва
      нормално дишане.</p>
    <p>Ако пострадалият не диша, веднага направете две последователни обдишвания &bdquo;уста в уста&rdquo; и после проверете за
      пулс на сънните артерии.</p>
    <h4>Наличие на сърдечна дейност</h4>
    <p>Наличието на сърдечна дейност (пулс) се установява чрез леко притискане с три пръста (показалец, среден и безименен ) на
      сънната артерия - на 2-3 см отляво или отдясно на гръкляна (ларинкса). Установяването на пулс&nbsp; не се извършва с палеца,
      тъй като той има собствен пулсации и може да установите не пулса на пострадалия, а вашия собствен.</p>
    <p>В случай, че има пулс на сънните артерии, продължете с обдишването до възстановяване на собствено дишане. В случай, че няма
      пулс на сънните артерии, шансът пострадалият да оцелее е минимален.</p>
    <h4>Кардиопулмонална ресусцитация (CPR) </h4>
    <p>Кардиопулмонална ресусцитация или съкратено на латински CPR представлява животоспасяваща процедура, която се прилага при
      инциденти, при които дишането и/или сърдечният ритъм са спрели. Тя е комбинация между извънгръдни притискания на сърцето и
      обдишване. Гръдните компресии осигуряват малка, но съдбоносна доставка на кръв към сърцето и мозъка. Обдишването осигурява
      минимална доставка на кислород в кръвообръщението. Важно е дихателните пътища да се поддържат отворени.&nbsp;</p>
    <p>Спешното възстановяване на дихателната и сърдечната функция е от изключително значение, тъй като мозъкът на човека може да
      издържи без кислород само 3-5 минути. При лишаване на мозъчните клетки от притока на кръв, респективно на кислород за повече
      от 5 минути, настъпват необратими увреждания на мозъчната тъкан. Смъртта на пострадалия може да настъпи за около 8-10
      минути.</p>
    <p>CPR се извършва най-добре, като пострадалият се постави върху гладка и твърда повърхност, което осигурява по-ефективна
      гръдна компресия.</p>
    <p>Лицето осъществяващо помощта трябва да бъде разположено високо над пострадалия, на колене, за да може да упражни тежестта
      на тялото си при извършване на компресиите. По този начин се осъществява по-значителна динамика при смяна на компресиите с
      вентилациите.</p>
    <h4>Сърдечен масаж</h4>
    <p>Най-същественият компонент на CPR е индиректният сърдечен масаж. Целта е чрез притискане на сърдечните кухини да се замести
      временно помпената функция на сърцето, респективно движението на кръв в съдовете (кръвообращението) и по този начин да се
      предизвика възстановяването му.</p>
    <ol>
      <li>Уверете се, че пострадалият е легнал по гръб върху твърда повърхност.</li>
      <li>Коленичете до пострадалия и по-точно до рамото му.</li>
      <li>Поставете дланта на едната от ръцете си на средата на гърдите на пострадалия.</li>
      <li>Поставете дланта на другата ръка върху първата ръка и сплетете пръстите си.</li>
      <li>Повдигнете пръстите си нагоре, за да се избегне оказването на натиск върху ребрата. Натискайте върху горната част на
        корема или долната част на гръдната кост.
      </li>
      <li>Уверете се, че раменете ви са разположени точно над гърдите на пострадалия. Натискайте най-малко 5 см (макс. 6 cм)
        надолу върху гръдната кост с изпънати ръце.
      </li>
      <li>Компресията и освобождаването на гръдния кош трябва да продължават еднакво време. С резки движения се притиска и отпуска
        с честота около 100 пъти в минута. По този начин сърцето се притиска между гръдната кост и гръбначния стълб, като кухините
        му се изпразват и напълват с кръв.
      </li>
      <li>Оставете гърдите да се върнат напълно в начално положение всеки път. Това ще позволи на сърцето да се напълни отново с
        кръв преди следващата компресия. Уверете се, че ръцете Ви не са се разплели или приплъзнали от гръдната кост.
      </li>
      <li>Направете 30 извънгръдни притискания на сърцето.</li>
    </ol>
    <h4>Обдишване (за възстановяване на дишането)</h4>
    <p>Най-простият и лесно достъпен начин за обдишване е т.нар. дишане "уста в уста" - главата на пострадалия се извива
      максимално назад (в случай, че не се подозира травма на шийните прешлени), долната челюст се повдига нагоре и напред,
      ноздрите се притискат с пръсти. По възможност (с цел предотвратяване предаването на инфекции) върху устата на пострадалия се
      поставя някакво бариерно устройство (кърпа или маска за лице). Обхванете плътно устата на пострадалия. Мощно издухайте
      въздуха от вашите бели дробове в дробовете на пострадалия за една секунда време. За да е ефикасно обдишването, не трябва да
      усещате съпротивление, а гръдният кош на пострадалия трябва да се повдигне. За издишване на поетия въздух е необходимо три
      пъти повече време, т.е три секунди. След това повторете същото още веднъж, т.е. направете две последователни обдишвания и
      веднага след това проверете за пулс на сънните артерии.</p>
    <p>Съотношението е 1:3 - една секунда за вдухване и три секунди за пасивно издишване. Ако вие, в желанието си да помогнете,
      често вдухвате, а не оставате време за издишване, по-скоро ще навредите, отколкото да помогнете!</p>
    <p>Ако има пулс на сънните артерии, продължете с обдишването в темпо 12-13 обдишвания в минута и има голям шанс пострадалият
      да възстанови спонтанното си дишане.</p>
    <p>При CPR сърдечният масаж и изкуственото дишане се съчетават в определено съотношение. Когато се дава първа долекарска помощ
      съотношението е 30 натиска на сърцето към 2 пълни издишвания в устата на пострадалия. Това се означава като един цикъл на
      CPR. След приключване на единия цикъл незабавно се започва втори. От изключително значение е да не се забавя сърдечният
      масаж! Прекомерното обдишване не е желателно!</p>
    <p>В най-добрият случай оказващите първа помощ трябва да се сменят на всеки 2-3 минути. Това предотвратява прекомерното им
      физическо натоварване, което може да понижи ефективността на кардиопулмоналната ресусцитация.</p>
    <p>Като цяло извършването на CPR продължава докато пациентът възвърне самостоятелното си дишане и сърдечния ритъм или е обявен
      за мъртъв. А в някои случаи - докато оказващият първа помощ е физически способен да продължи.</p>

    <h3>С - Контрол на кървенето</h3>
    <p>Човек има средно приблизително пет литра кръв. Голямата загуба на кръв може да доведе до необратим шок. Това означава, че
      ако загубите около половината от кръвоснабдяването на тялото си, без значение какво прави някой, за да се опита да ви спаси,
      смъртта е неизбежна. Трябва да кървенето да се сложи под контрол възможно най-скоро.</p>
    <h4>Показанията за животозастрашаващо кървоизтичане включват:</h4>
    <ul>
      <li>Бликащо / постоянно кървене;</li>
      <li>Кръвта се събира в локва;</li>
      <li>Кръвта се просмуква през горните дрехи;</li>
      <li>Кръвта се просмуква през превръзки;</li>
      <li>Ампутации.</li>
    </ul>
    <p>Опасните за живота понижения на кръвното налягане често са свързани със състояние на шок.</p>
    <h4>Обикновено има четири етапа на прекомерно кървене:</h4>
    <h5>Етап 1:</h5>
    <p> Загуба на &lt;15% от обема на кръвта. Пациентът изглежда нормален с леко повишена сърдечна
      честота.</p>
    <h5>Етап 2:</h5>
    <p>Загуба на 15% -30% от обема на кръвта. Тялото на пациента е в състояние да компенсира загубата на
      кръв, но може да изглежда тревожен, защото жизнените показатели се покачват.</p>
    <h5>Етап 3:</h5>

    <p>Загуба на 30% -40% от обема на кръвта. Пациентът не може да компенсира и състоянието се влошава.
      Ако не се лекува, ще се стигне до необратим шок. Пациентът изглежда объркан.</p>
    <h5>Етап 4:</h5>
    <p>Загуба на&gt; 40% от обема на кръвта. Пациентът изпада в необратим шок. Изглежда, че пациентът е
      летаргичен и смъртта ще настъпи след минути поради огромно и необратимо увреждане на жизненоважните органи.</p>
    <table>
      <tbody>
      <tr>
        <td width="48">
          <p>Етап</p>
        </td>
        <td width="78">
          <p>Загуба на кръв</p>
        </td>
        <td width="186">
          <p>Пулс</p>
        </td>
        <td width="104">
          <p>Кръвно налягане</p>
        </td>
        <td width="104">
          <p>Дишане</p>
        </td>
        <td width="104">
          <p>Пациентът</p>
        </td>
      </tr>
      <tr>
        <td width="48">
          <p>I</p>
        </td>
        <td width="78">
          <p>&lt;15%</p>
        </td>
        <td width="186">
          <p>Нормален (&lt;100 удара в минута)</p>
        </td>
        <td width="104">
          <p>Нормално</p>
        </td>
        <td width="104">
          <p>14-20</p>
        </td>
        <td width="104">
          <p>Изглежда нормално</p>
        </td>
      </tr>
      <tr>
        <td width="48">
          <p>II</p>
        </td>
        <td width="78">
          <p>15% -30%</p>
        </td>
        <td width="186">
          <p>Бърз (&gt;100 удара в минута)</p>
        </td>
        <td width="104">
          <p>Леко ниско</p>
        </td>
        <td width="104">
          <p>20-30</p>
        </td>
        <td width="104">
          <p>Неспокоен</p>
        </td>
      </tr>
      <tr>
        <td width="48">
          <p>III</p>
        </td>
        <td width="78">
          <p>30% -40%</p>
        </td>
        <td width="186">
          <p>Много бърз (&gt;120 удара в минута)</p>
        </td>
        <td width="104">
          <p>Ниско</p>
        </td>
        <td width="104">
          <p>30-40</p>
        </td>
        <td width="104">
          <p>Объркан, неадекватен</p>
        </td>
      </tr>
      <tr>
        <td width="48">
          <p>IV</p>
        </td>
        <td width="78">
          <p>&gt; 40%</p>
        </td>
        <td width="186">
          <p>Критичен (&gt;140 удара в минута)</p>
        </td>
        <td width="104">
          <p>Критично</p>
        </td>
        <td width="104">
          <p>&gt;35</p>
        </td>
        <td width="104">
          <p>Летаргичен</p>
        </td>
      </tr>
      </tbody>
    </table>
    <p>&nbsp;</p>

    <h4>Видовете кървене се характеризират със скоростта на кръвния поток.</h4>
    <h5>Артериално кървене:</h5>
    <p>Артериите транспортират кръв под високо налягане. Кръвта, идваща от артерия, ще блика.
    </p>

    <h5>Венозно кървене:</h5>
    <p> Вените транспортират кръв под ниско налягане. Кръв, идваща от вена, ще тече бавно.</p>
    <h5>Капилярно кървене:</h5>
    <p> Капилярите също носят кръв под ниско налягане. Кръвта, идваща от капилярите, ще тече
      бавно.</p>

    <h4>Директен натиск</h4>
    <p>Първият начин да се опитате да контролирате прекомерното кървене е чрез прилагане на директен натиск. За да контролирате и
      спирате кървенето чрез директен натиск, следвайте стъпките по-долу.</p>
    <h5>Стъпка 1:</h5>
    <p>Намерете източника / източниците на кървене.</p>
    <h5>Стъпка 2:</h5>
    <p>Ако имате нещо, което да поставите между кръвта и ръцете си, използвайте го (напр. ръкавици,
      кърпа, найлонов плик.)</p>
    <h5>Стъпка 3:</h5>
    <p>Оказвайте здрав, стабилен директен натиск върху източника на кървенето. Натиснете силно за
      спиране или до бавно кървене - дори да е болезнено за ранените!</p>
    <h5>Стъпка 4:</h5>
    <p>Поддържайте натиска, докато от спешна помощ не поемат грижата или кървенето не спре. Ако не сте
      сигурни дали кървенето е спряло, продължете да прилагате налягане и изчакайте спешна помощ.</p>
    <h4>Някои неща, които трябва да имате предвид, когато прилагате директен натиск:</h4>
    <ul>
      <li>Опитайте се да осигурите препятствие пред кръвта, ако е възможно. Ръкавиците са най-подходящи.</li>
      <li>Не използвайте едни и същи ръкавици или друга преграда на повече от един човек.</li>
      <li>Ако преградта ви е напоена с кръв, сменете я, но не поставяйте повече неща върху нея.</li>
      <li>Не поставяйте обемисти слоеве между ръцете си и източника на раната, защото това намалява ефективността на натиска.</li>
      <li>Правилно приложеното налягане може да не е удобно за пострадалите. Не пускайте; задръжте налягане, докато спешна помощ
        пристигне.
      </li>
    </ul>

    <h4>Турникети</h4>
    <p>Ако не можете да спрете кървенето, като прилагате директен натиск и специалистите от първа помощ се забавят да реагират,
      турникетът може да бъде жизнеспособна възможност да спасите човек от кървене до смърт. Турникетите се използват ефективно за
      борба с кървенето на крайниците на ранения войник (ръцете или краката) и все по-често се използват от униформените лица в
      извънредни ситуации. Турникетите са безопасни и ефективни, когато се прилагат по подходящ начин; по-вероятно е да спасите
      живот, отколкото да загубите крайник, ако използвате турникет.</p>
    <p>Турникетът е стегната превръзка, която, когато се постави около крайник и се стегне, прекъсва кръвоснабдяването на частта
      на крайника след него.</p>
    <p>Ако нямате под ръка специален такъв, можете да опитате сами да го направите, използвайки нещо, което е широко, гъвкаво,
      здраво и може да бъде усукано, затегнато и закрепено, като ремък или лента за багаж. Импровизираните турникети често се
      провалят, но можете да опитате да ги използвате в краен случай, за да забавите поне кървенето.</p>
    <h4>Как да използвате турникет:</h4>
    <h5>Стъпка 1:</h5>
    <p>Поставете възможно най-високо върху ранения крайник - най-близо до торса. (Можете да го
      поставите върху дрехите.)</p>
    <h5>Стъпка 2:</h5>
    <p> Издърпайте каишката през катарамата.</p>
    <h5>Стъпка 3:</h5>
    <p>Завъртете пръчката здраво, докато кървенето спре / се забави значително. (Може да е много
      болезнено.)</p>
    <h5>Стъпка 4:</h5>
    <p>Закрепете пръчката.</p>
    <h5>Стъпка 5:</h5>
    <p>Ако кървенето не спре, поставете втори турникет.</p>
    <h5>Стъпка 6:</h5>
    <p>Оставете на място, докато спешна помощ поеме грижата.</p>

    <h2>4. Шок</h2>
    <p>Шокът е остро животозастрашаващо състояние, характеризиращо се с намаление в доставката на кислород и хранителни
      метаболитни продукти до клетките. Крайният резултат е развитие на обратими клетъчни промени, понижено кръвоснабдяване на
      жизненоважните органи. Липсата на медицинска намеса води до трайни, необратими, промени и до развитие на клинична и
      биологична смърт.</p>
    <h3>Разпознаване на шок</h3>
    <p>Тялото първоначално ще компенсира загубата на кръв и ще замаскира симптомите на шок, следователно, шокът често е труден за
      диагностициране. Възможно е - и всъщност общоприето - човек, страдащ от шок, да бъде напълно адекватен и да не се оплаква от
      болка.</p>
    <p>Обърнете внимание на фините улики, тъй като непризнаването на шока ще има сериозни последици.</p>
    <h4>Основни признаци на шок са:</h4>
    <ul>
      <li>Учестено и плитко дишане;</li>
      <li>Времето за пълнене на капилярите е с продължителност над две секунди (проверява се например чрез стискане на пръст
        &ndash; гледа се за колко време се възстановява първоначалния му цвят);
      </li>
      <li>Неспазване на прости команди, като например &bdquo;стиснете ръката ми&ldquo;.</li>
    </ul>
    <p>Когато пациентът е в шок, избягвайте грубо или прекомерно действие. Също така е важно да се поддържа телесната температура
      на пациента.</p>
    <h2>5. Поддържане на телесната температура</h2>
    <p>Ако е необходимо, поставете одеяло или друг материал под и / или над пациента, за да осигурите защита от екстремни
      температури (горещи или студени). Хората с много сериозни наранявания са по-податливи на хипотермия или необичайно ниска
      телесна температура.</p>
    <p>Хипотермията увеличава риска от смърт при оцелели със сериозни наранявания, така че трябва да поддържате нормална телесна
      температура при пациенти колкото е възможно повече.</p>
    <h3>За да поддържате човек топъл:</h3>
    <ul>
      <li>Свалете мокрото облекло;</li>
    </ul>
    <ul>
      <li>Поставете нещо между пострадалия и земята (например картон, сако, одеяло или нещо, което осигурява физическо
        отделяне);
      </li>
    </ul>
    <ul>
      <li>Увийте пострадалото лице със сухи материали (например палто, одеяло);</li>
      <li>Защитете пострадалия от вятъра с тялото си или с околните предмети.</li>
    </ul>
    <h2>6. Осигуряване на спокойствие</h2>
    <p>Доброволците могат да бъдат от голяма полза за ранени и емоционални пациенти, просто като предлагат спокойствие и подкрепа.
      Не са необходими специални умения - просто спокойно и успокояващо присъствие. Важно е да се отбележи, че осигуряването на
      спокойствие е част от незабавната грижа, която доброволците могат да предоставят.</p>
    <h3>Диалог за осигуряване на спокойствие</h3>
    <p>Споделяйте имена и задавайте основни въпроси, например:</p>
    <ul>
      <li>Как мога да помогна?</li>
      <li>Какво ти е необходимо?</li>
      <li>Какво стана?</li>
    </ul>
    <p>Можете също така да осигурите комфорт на пациента, като предоставите информация за:</p>
    <ul>
      <li>Какво в момента знаете за случилото се, без да спекулирате;</li>
      <li>Какво се прави, за да им се помогне;</li>
      <li>Какво ще се случи след това.</li>
    </ul>
    <p>Какво можеш да направиш?</p>
    <ul>
      <li>Дръжте се топло.</li>
      <li>Предложете ръката си за да я държат.</li>
      <li>Поддържайте контакт с очите.</li>
      <li>Бъдете търпеливи и разбиращи.</li>
      <li>Ако трябва да окажете помощ на друг човек, уведомете.</li>
    </ul>

  </div>
</section>
