<textarea [(ngModel)]="model.message" style="width: 70%" placeholder="Финално съобщение" class="basic-input" name="finalMessage" id="" cols="30" rows="10"></textarea>

<br>

<button class="main-button" (click)="resolve()">Запази</button>
