.auth-icons {
  width: 80%;
  height: 1em;
  padding: 0.5em 10%;
  background-color: #70309F;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #ffffff;
}

a {
  i {
    color: #ffffff;
    margin-left: 0.5em;

    &:hover {
      color: darken(#ffffff, 7);
    }
  }
}
