<div class="auth-icons" *ngIf="!authenticationService.isAuthenticated()">
  <a routerLink="/login">
    <i class="fas fa-sign-in-alt"></i>
  </a>

  <a href="/register">
    <i class="fas fa-user-plus"></i>
  </a>
</div>

<div class="auth-icons" *ngIf="authenticationService.isAuthenticated()">
  <a routerLink="/profile">
    <i class="fas fa-user-circle"></i>
  </a>

  <a routerLink="/" (click)="logout()">
    <i class="fas fa-sign-out-alt"></i>
  </a>
</div>
