.main-container {
  min-height: calc(100vh - 6em);
  background-color: #ffffff;
  background: linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.7)),
  url('../../../../assets/storm.jpeg');
  background-size: cover;
  background-position: center;
  color: #70309F;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.single-disaster {
  padding: 1em;
  background-color: rgba(255, 255, 255, 1);
  width: 70%;
  margin: 1em auto;
  text-align: justify;
  border-radius: 20px;
}
textarea {
  //width: 100%;
  resize: none;
  margin: 1em 0;
}

.action-buttons {
  margin-bottom: 1em;
}

button {
  margin-right: 1em;
  max-width: 20em;
  margin-top: 1em;
}

.edit-controls {
  display: flex;
  flex-direction: column;
}

p, ul, h3, h2 {
  margin-bottom: 1em;
}

i {
  font-size: 1.5em;
}
