<div class="main-container">

  <div class="single-disaster" *ngIf="disaster">

    <div class="disaster-info" *ngIf="!participating && !resolving && !editingEssentials">
      <h2><i [class]="disaster.type.iconUrl"></i> {{disaster.type.name}}</h2>
      <h4>Сигнал:</h4>
      <p>{{disaster.description}}</p>
      <h4>Официална информация:</h4>
      <p *ngIf="!disaster.resolved">{{disaster.essentials}}</p>
      <h3>Координати: <a [href]="'https://maps.google.com/?q=' + disaster.coordinates" target="_blank" >{{disaster.coordinates}}</a></h3>
<!--      <h3>Адрес: ул. Чушкопек 3</h3>-->
      <h3>Необходими доброволци за:</h3>
      <ul>
        <li  *ngFor="let action of actions">{{action.name}}</li>
      </ul>
      <ul>
        <li *ngFor="let v of disaster.volunteers">{{v.name}}</li>
      </ul>

      <h3>Налични доброволци:</h3>

      <ul>
        <li *ngFor="let action of getObjectNames(actionUsers)">
          {{action}} - {{actionUsers[action].length}}
        </li>
      </ul>

      <h3>Налични провизии:</h3>

      <ul>
        <li *ngFor="let item of getObjectNames(itemUsers)">
          {{item}} - {{itemUsers[item].length}}
        </li>
      </ul>

      <h3 *ngIf="disaster.resolved">Финална информация:</h3>
      <p *ngIf="disaster.resolved">{{disaster.finalMessage}}</p>
    </div>

    <div class="action-buttons" *ngIf="!disaster.resolved && !participating && !resolving && !editingEssentials">

      <button class="main-button"
              *ngIf="!hasVolunteered"
              [routerLink]="[disaster.type.id, 'volunteer']">
        Присъединяване
      </button>

      <button class="main-button"
              *ngIf="authenticationService.isAuthenticated()"
              (click)="editingEssentials = true; resolving = false; participating = false">
        Редакция
      </button>

      <button class="main-button"
              *ngIf="authenticationService.isAuthenticated()"
              (click)="resolving = true; editingEssentials = false; participating = false">
        Обявяване на край
      </button>

    </div>

    <ih-essentials-form *ngIf="editingEssentials" [currentEssentials]="disaster.essentials"
                        (essentialsEmitter)="saveEssentials($event)"></ih-essentials-form>
    <ih-resolved-form *ngIf="resolving" (finalMessageEmitter)="resolve($event)"></ih-resolved-form>

  </div>

</div>
