.main-container {
  min-height: calc(100vh - 6em);
  background-color: #000000;
  background: linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.7)),
  url('../../../../assets/storm.jpeg');
  background-size: cover;
  background-position: center;
  color: #70309F;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  margin-bottom: 1em;
}

.actions-list, .items-list {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.meta-row {
  padding: 1em 0;
  margin-bottom: 1em;
  border: 1.9px solid #70309F;
  border-radius: 8px;
  cursor: pointer;

  i {
    font-size: 1.3em;
    margin-right: 1em;
  }
}

.meta-row.selected {
  border-color: darken(#70309F, 7);
  color: darken(#70309F, 7);;
  background-color: #ffffff;

  i {
    color: #70309F;
  }
}

.main-button {
  position: absolute;
  bottom: 0;
  margin-bottom: 1em;

  @media (max-width: 600px) {
    position: initial;
  }
}
