<div class="main-container">

  <section class="actions-list" *ngIf="currentStep === 1">
    <section class="heading">
      <h1>Моля, посочете с какво можете да се включите?</h1>
    </section>

    <section class="meta-row"
             (click)="selectAction(action)"
             [class.selected]="action.selected"
             *ngFor="let action of disasterActions">
      <i [classList]="action.iconUrl"></i>
      <span>{{action.name}}</span>
    </section>

  </section>

  <section class="actions-list" *ngIf="currentStep === 2">
    <section class="heading">
      <h1>Моля, посочете какви провизии можете да донесете.</h1>
    </section>

    <section class="meta-row"
             (click)="selectItem(item)"
             [class.selected]="item.selected"
             *ngFor="let item of actionsItems">
      <i [classList]="item.iconUrl"></i>
      <span>{{item.name}}</span>
    </section>

  </section>

  <section class="actions-list" *ngIf="currentStep === 4">
    <label>
      <input type="text"
             [(ngModel)]="model.email"
             placeholder="Имейл"
             class="basic-input">
    </label>
  </section>

  <button class="main-button" (click)="incrementStep()">Напред</button>

</div>
