<nav>
  <a routerLink="/">
    <img src="../../../assets/logo.png" alt="logo">
  </a>

  <section class="links">
    <a routerLink="/report">Сигнализирай</a>
    <a routerLink="/disasters">Бедствия</a>
    <a routerLink="/first-aid">Първа помощ</a>
  </section>
</nav>
