nav {
  min-height: 4em;
  padding: 0 10%;
  background-color: #ffffff;
  color: #70309F;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 600px) {
    flex-direction: column;
    padding: 1em 0;
  }
}

img {
  width: 4em;

  &:hover {
    transform: rotate(-30deg) scale(2);
  }
}

.links {
  min-width: 45%;
  display: flex;
  justify-content: space-between;

  @media (max-width: 600px) {
    flex-direction: column;
    align-items: center;
  }

  a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 0.5em;

    &:hover {
      text-decoration: underline;
    }
  }
}
