<label class="address-label" for="address" *ngIf="showSearch">
  <input type="text" id="address" class="form-control" (keydown.enter)="$event.preventDefault()"
         placeholder="Въведи локация" #search>
</label>

<agm-map
  (mapClick)="placeMarker($event)"
  [scrollwheel]="null"
  [latitude]="latitude"
  [longitude]="longitude"
  [zoom]="zoom">
  <agm-marker
    (markerClick)="submitCoordinates()"
    [latitude]="latitude"
    [longitude]="longitude">
  </agm-marker>

  <agm-marker *ngFor="let disaster of currentDisasters"
              [latitude]="disaster.latitude"
              [longitude]="disaster.longitude"
              [label]="{fontSize: '18px',color: '#811411', marginTop: '-20px', fontWeight: 'bold',text: disaster.title}"
              [iconUrl]="{ url: disaster.iconUrl, labelOrigin: {x:22.5,y:20}, scaledSize: {height: 45,width: 45}}"
              (markerClick)="redirectToDisaster(disaster.id)"
  >
  </agm-marker>

</agm-map>

<!--<button class="alternate-button" *ngIf="showButton" (click)="submitCoordinates()">Избери</button>-->
