form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #70309F;

  label {
    margin-bottom: 1.2em;
  }

  button {
    width: 50%;
  }

  p {
    margin: 1em 0;
  }
}
