<section class="profile-container">
  <ih-profile-details (editEmitter)="editMode = true" [user]="user" *ngIf="!editMode && user"></ih-profile-details>
  <ih-profile-edit *ngIf="editMode && user" [model]="model" (submitEmitter)="submit($event)"></ih-profile-edit>
</section>
