.profile-container {
  min-height: calc(100vh - 6em);
  //background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)),
  //url('../../../../assets/ff-auth-bg.jpg');
  background-color: #ffffff;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10%;
}
