<textarea style="width: 70%;" [(ngModel)]="model.essentials" class="basic-input" name="essentials" cols="30" rows="10"></textarea>

<br>

<button class="main-button" (click)="saveEssentials()">Запази</button>
