.main-container {
  display: flex;
}

::ng-deep .report-map agm-map {
  right: 0;
  height: 100%;
  width: 30vw;

  @media (max-width: 1000px) {
    height: 30em;
  }
}

.report-screen {
  //height: calc(100vh);
  width: calc(70vw);
  background-color: #ffffff;
  background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)),
  url('../../../../assets/sky2.jpeg');
  background-size: cover;
  background-position: center;
}

h2 {
  width: 100%;
  text-align: center;
  color: #70309F;
  margin-bottom: 2em;
}

@media (max-width: 1000px) {
  .main-container {
    flex-direction: column;
  }
  ::ng-deep .report-map agm-map {
    position: relative;
    width: 100%;
  }

  ::ng-deep .report-map .alternate-button {
    margin-bottom: -2em !important;
  }

  .report-screen {
    height: unset;
    width: 100%;
  }

  textarea {
    width: 70% !important;
  }
}

.report-area {
  padding: 5%;
}

p {
  margin: 1em 0;
  color: #70309F;
  text-align: center;
}

.disaster-types {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .disaster-type {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: darken(#70309F, 7);
    font-size: 1.5em;
    margin-bottom: 1em;
    cursor: pointer;

    i, p {
      color: darken(#70309F, 10);
    }

    i {
      font-size: 1em;
    }

    &:hover {
      i, p {
        color: lighten(#70309F, 10);
      }
    }
  }

  .disaster-type.selected {
    i, p {
      color: lighten(#70309F, 10);
    }
  }
}

form {
  text-align: center;

  textarea {
    resize: none;
    width: 40em;
  }

  button {
    margin-top: 1em;
  }
}
