<section *ngIf="resolvedDisasters || activeDisasters" class="main-container">
  <h1 *ngIf="activeDisasters" class="warn-heading">Бедствия в момента</h1>
  <section class="disasters-list">
    <ih-disaster-single (volunteerEmitter)="volunteer($event)" *ngFor="let disaster of activeDisasters"
                        [disaster]="disaster"></ih-disaster-single>
  </section>

  <h1>Архив</h1>
  <section class="disasters-list">
    <ih-disaster-single *ngFor="let disaster of resolvedDisasters" [disaster]="disaster"></ih-disaster-single>
  </section>
</section>
