.main-container {
  min-height: calc(100vh - 6em);
  background-color: #000000;
  background: linear-gradient(rgba(255,255,255,.7), rgba(255,255,255,.7)),
  url('../../../../assets/storm.jpeg');
  background-size: cover;
  background-position: center;
  color: #70309F;
  text-align: center;
}

h1 {
  font-size: 1.5em;
  padding: 1em;
  //margin: 1em 0;
}

.disasters-list {
  padding: 2% 10%;
  grid-template-columns: repeat(3, 13em);
  justify-content: space-between;
  display: grid;
  grid-row-gap: 1em;

  @media (max-width: 1000px) {
    grid-template-columns: repeat(2, 40%);
  }

  @media (max-width: 600px) {
    grid-template-columns: repeat(1, 100%);
  }
}
