@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: 'Ubuntu', sans-serif;
}

html {
  background-color: #000000;
}

h1 {
  color: #70309F;
  font-size: 2em;
  margin: 0 auto;
}

i {
  color: #70309F;

  &:hover {
    color: darken(#70309F, 10);
  }
}

.main-button, .alternate-button {
  all: unset;
  border: 2.3px solid #70309F;
  border-radius: 8px;
  padding: 0.4em 1.3em;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
}

.main-button:disabled {
  cursor: not-allowed;
}

.main-button {
  color: #70309F;

  &:hover {
    background-color: #70309F;
    color: #ffffff;
  }
}

.warn-button {
  color: #F70000;
  border-color: #F70000;

  &:hover {
    background-color: #F70000;
    color: #ffffff;
  }
}

.alternate-button {
  color: #ffffff;
  background-color: #70309F;

  &:hover {
    background-color: darken(#70309F, 8);
  }
}

h2 {
  font-size: 1.5em;
}

li {
  list-style: inside;
}

.basic-href {
  color: #70309F;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.basic-input {
  outline: none;
  border: 2.3px solid #70309F;
  color: #70309F;
  border-radius: 8px;
  padding: 0.4em 1.3em;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: none;

  &:focus {
    background-color: rgba(255, 255, 255, 2);
  }
}
