<section class="single-disaster" [class.active]="!disaster.resolved">
  <h2> {{disaster.type.name}}</h2>
  <h3>{{disaster.coordinates}}</h3>
  <h3 *ngIf="disaster.kmDistance !== ''">На {{disaster.kmDistance}} км. от теб!</h3>

  <section>
    <i [class]="disaster.type.iconUrl"></i>
  </section>
  <!--  <h3>Доброволци:</h3>-->
  <!--  <ul>-->
  <!--    <li *ngFor="let v of disaster.volunteers">{{v.name}}</li>-->
  <!--  </ul>-->
  <!--  <h3>Брой хора, заявили, че ще помогнат: {{disaster.outerHelp}}</h3>-->
  <!--  <h4>Информация:</h4>-->
  <!--  <p *ngIf="!disaster.resolved">{{disaster.essentials}}</p>-->
  <!--  <p *ngIf="disaster.resolved">{{disaster.finalMessage}}</p>-->

  <!--  <button class="main-button" *ngIf="!disaster.resolved && !authenticationService.isAuthenticated() && !willHelp()" (click)="volunteer()">Ще помогна!</button>-->
  <button class="main-button" [class.warn-button]="!disaster.resolved" [routerLink]="['/disasters', disaster.id]">Детайли</button>
</section>
