button {
  margin: 1em auto 0 auto;
}

.active {
  color: #F70000 !important;

  section {
    i {
      color: #F70000;
    }
  }
}

.single-disaster {
  background-color: #ffffff;
  padding: 1em;
  border-radius: 20px;

  &:hover {
    -webkit-box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.64);
    box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.64);
  }

  h3 {
    font-size: 0.7em;
  }

  i {
    font-size: 3.5em;
    padding: 0.3em 0;
  }
}


