<section class="stats-container">

  <div class="numbers">

    <section>
      <h1>100</h1>
      <h2>Помогнали</h2>
      <i class="fas fa-people-carry"></i>
    </section>

    <section>
      <h1>30</h1>
      <h2>Обучени</h2>
      <i class="fas fa-user-shield"></i>
    </section>

    <section>
      <h1>10</h1>
      <h2>Събития</h2>
      <i class="fas fa-check-circle"></i>
    </section>

  </div>

  <marquee direction="right">
    <img class="logo" src="../../../../assets/logo.png" alt="">
  </marquee>

</section>
