.stats-container {
  padding: 5% 0;
}

.numbers {
  display: flex;
  justify-content: space-between;

  i {
    font-size: 3.7em;
  }

  section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  h1 {

  }

  h2 {
    font-size: 1em;
    margin-bottom: 1em;
  }
}

.logo {
  width: 14em;
  margin-top: 10%;
}
