.main-container {
  //height: 50vh;
  background: linear-gradient(rgba(255,255,255,.7), rgba(255,255,255,.7)),
  url('../../../../assets/sky.jpeg');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  padding: 5% 10%;
  text-align: center;
}

.disaster-list {
  display: flex;
  justify-content: space-between;
  margin: 5% 0;

  a {
    text-decoration: none;
    padding: 0;
    width: 30%;
    //height: 10em;

    @media (max-width: 600px) {
      width: 100%;
      flex-direction: column;
      align-items: center;
      margin-bottom: 1em;
    }
  }

  @media (max-width: 600px) {
    flex-direction: column;
    align-items: center;
  }
}

.disasters-active {
  a {
    color: #F70000;
  }
}

.main-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media (max-width: 1000px) {
  .main-buttons {
    flex-direction: column;
    align-items: center;

    button {
      margin-bottom: 1em;
    }
  }
}

.auth-icons {
  position: absolute;
  right: 0;
  margin-right: 10%;
  margin-top: 1em;

  i {
    font-size: 1.2em;
    margin-left: 0.6em;
  }
}

.warn-heading {
  color: #F70000;
}

::ng-deep ih-disaster-single .single-disaster {
  background-color: #ffffff;
  padding: 1em;
  border-radius: 20px;

  &:hover {
    -webkit-box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.64);
    box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.64);
  }

  h3 {
    font-size: 0.7em;
  }

  i {
    font-size: 3.5em;
    padding: 0.3em 0;
  }
}
