<section class="main-container">

  <h1 class="warn-heading" *ngIf="activeDisasters">В момента</h1>

  <section class="disaster-list disasters-active">
    <a *ngFor="let d of activeDisastersList.slice(0, 3)" [routerLink]="['disasters', d.id]">
      <ih-disaster-single [disaster]="d"></ih-disaster-single>
    </a>
  </section>

  <h1>Последни събития</h1>

  <section class="disaster-list">
    <a *ngFor="let d of pastDisastersList.slice(0, 3)" [routerLink]="['disasters', d.id]">
      <ih-disaster-single [disaster]="d"></ih-disaster-single>
    </a>
  </section>

  <ih-stats></ih-stats>

</section>
